<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p class="text-right" >email: <a href="mailt: kontakt@michal-lach.pl" title="Contact me!">kontakt@michal-lach.pl</a></p>
    </div>
    <div class="col-md-3">
      <nav>
        <a href="">Facebook</a>
        <a href="">Twiiter</a>
        <a href="">Linkedin</a>
        <a href="">Github</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <header class="site-header">
    <h1>Logo</h1>
      <nav class="text-center">
        <a href="">About</a>
        <a href="">Work</a>
        <a href="">Hire me</a>
      </nav>
    </header>
  </div>
</div>
<div id="owl-example" class="owl-carousel">
  <div class="slide-1"> <img src="/img/slider/1.png" alt=""> </div>
  <div class="slide-2"> <img src="/img/slider/2.png" alt=""> </div>
  <div class="slide-3"> <img src="/img/slider/3.png" alt=""> </div>
  <div class="slide-4"> <img src="/img/slider/4.png" alt=""> </div>
</div>
