<header class="site-header">
  <div class="full-width">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p>email: <a href="mailt: kontakt@michal-lach.pl" title="Contact me!">kontakt@michal-lach.pl</a></p>
        </div>
        <div class="col-md-3">
          <nav>
            {% for social in site.social %}
            <a href="{{ social.url }}">{{ social.title }}</a>
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row nav-links">
      <h1>Logo</h1>
      <nav class="text-center">
        {% for link in site.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
</header>
<div id="owl-example" class="owl-carousel">
  <!--   <div class="slide-1"> <img src="/img/slider/1.png" alt=""> </div>
  <div class="slide-2"> <img src="/img/slider/2.png" alt=""> </div>
  <div class="slide-3"> <img src="/img/slider/3.png" alt=""> </div>
  <div class="slide-4"> <img src="/img/slider/4.png" alt=""> </div> -->
</div>
