body {
  font:400 15px/1.4 'Open Sans', sans-serif;
  color: #444;
  line-height: 1.7;
}

.wrapper {
    border-top: 5px solid #424242;
}

header {
  margin-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #e8e8e8;
  h1 {
    margin: 20px auto;
  }
  .profile {
    margin: 50px auto 20px;
  }
  .profile img {
    border-radius: 50%;
    width: 150px;
  }
  ul {
    margin: 0 auto;
    max-width: 245px;
  }
  ul li {
    border-right: 1px solid #424242;
    list-style-type: none;
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    &:last-child {
      border: none;
      padding-right: 0;
      margin-left: 0;
    }
  }
  p.twitter {
    margin-bottom: 5px;
  }
  p.mail {
    width: 250px;
    padding-bottom: 10px;
    margin: 0 auto;
  }
}

.content {
  margin: 60px 20px 0 360px;
}

::selection {
  background: #FF9A02;
  color: #fff;
  text-shadow: none;
}

.view {
    width: 300px;
    height: 250px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
}
.view .mask, .view .content {
    width: 300px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 16px;
    padding: 10px;
    background: rgba(255, 154, 2, .8);
    margin-bottom: 10px;
}
.view p {
    position: relative;
    padding: 5px 10px 0;
    text-align: center
}
.view a.info {
    margin-top: 100px;
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: rgba(255, 154, 2, .8);
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(255, 154, 2, .9);
  }
.view a.info:hover, .view a.info:focus {
    margin-top: 0;
    box-shadow: 0 0 5px rgba(255, 154, 2, 1);
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(255,255,255, 0.9);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first:hover img, .view-first:hover img:focus {
  transform: scale(1.1);
}
.view-first:hover .mask, .view-first:hover .mask:focus {
  opacity: 1;
}
.view-first:hover h2, .view-first:hover h2:focus,
.view-first:hover p, .view-first:hover p:focus,
.view-first:hover a.info, .view-first:hover a.info:focus {
    opacity: 1;
    margin-top: 0;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

.pagination {
  padding: 15px 10px;
  clear:both;
}
